services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.1.2
    container_name: uptime-kuma
    env_file: .env
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3001:3001  # <Host Port>:<Container Port>
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptime.rule=Host(`$UPTIMEKUMA_VAR_URL`)"
      - "traefik.http.routers.uptime.entrypoints=web"
    environment:
      PUID: $UPTIMEKUMA_VAR_PUID
      PGID: $UPTIMEKUMA_VAR_PGID

